body {
  background-color: #0c1713;
  color: #fcfafa;
}

.zone1 {
  background-color: #650d1b;
  color: #fcfafa;
}
.zone2 {
  background-color: #fcfafa;
  color: #0c1713;
}
.zone2 h3 {
  color: #0c1713;
  text-align: center;
}
h1 {
  color: #fcfafa;
}
h2 {
  color: #fcfafa;
}

p {
  font-size: larger;
}

.container-fluid {
  padding: 70px 10%;
}

.header {
  background-color: #0c1713;
}

.header a {
  color: #489fb5;
}

.header span {
  color: #489fb5;
}
